.user {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
}
.user_header_title {
  text-align: center;
  margin: 0.5rem auto;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #1aa37a;
  width: 200px;
}
.user_footer {
  width: 100%;
  max-width: 500px;
  position: fixed;
  right: 50%;
  transform: translateX(50%);
  left: 0;
  bottom: 0;
  background-color: var(--bg);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user_footer_btn-add {
  background-color: #1aa37a;
  background-image: linear-gradient(45deg, #1aa37a, #9dffb3);
  color: var(--color-neutral-800);
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}
.user_footer_btn-download {
  cursor: pointer;
  background-color: #1aa37a;
  background-image: linear-gradient(45deg, #1aa37a, #9dffb3);
  border: none;
  border-radius: 10px;
  padding: 0.3rem;
  font-size: 0.7rem;
}
.user_main_list {
  margin-top: 0.5rem;
  display: flex;
  height: 75vh;
  overflow-y: scroll;
  flex-direction: column;
  gap: 10px;
  padding: 0.5rem;
}
/*==============UserLesson===================*/
.lesson {
  color: var(--color-neutral-800);
  padding: 0.3rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lesson_info_title {
  font-family: iransans-bold;
}
.lesson_info_day {
  font-size: 0.8rem;
}
.lesson_btn-group {
  display: flex;
  gap: 5px;
}
.lesson_btn-group_edit,
.lesson_btn-group_delete {
  border: none;
  font-size: 0.9rem;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  display: grid;
  place-content: center;
  background-color: var(--bg);
  color: var(--text-color);
  opacity: 0.9;
}
/*==============UserLesson end===================*/
/*==============UserForm===================*/
.user_form {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: var(--bg);
  padding: 0.5rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 18px 3px rgba(26, 163, 122, 1);
  -moz-box-shadow: 0px 0px 18px 3px rgba(26, 163, 122, 1);
  box-shadow: 0px 0px 18px 3px rgba(26, 163, 122, 1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user_form_close-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  place-content: center;
  background-color: #1aa37a;
  border: none;
}
.user_form_title {
  text-align: center;
  margin: 0.5rem 0;
}
.add-new-btn {
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #1aa37a;
  background-image: linear-gradient(45deg, #1aa37a, #9dffb3);
  border-radius: 10px;
  border: none;
  margin-top: 1rem;
  padding: 0.2rem 0.5rem;
}
.user_form_input {
  background-color: transparent;
  border: 2px solid #1aa37a;
  border-radius: 10px;
  padding: 0.3rem;
  color: var(--text-color);
  outline: none;
}
.user_form_section {
  background-color: var(--bg);
  border: 2px solid #1aa37a;
  border-radius: 10px;
  padding: 0.3rem;
  color: var(--text-color);
}
/*==============UserForm end===================*/
@media only screen and (max-width: 300px) {
  .user_footer_btn-download {
    font-size: 0.6rem;
  }
}
