.welcome {
  display: grid;
  place-content: center;
  padding: 0.5rem;
}
.welcome_header_title {
  font-size: 2.5rem;
  padding: 2rem 0;
  text-align: center;
}
.welcome_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.welcome_main_image {
  width: 400px;
}
.welcome_main_text {
  font-size: 1.2rem;
  text-align: center;
}
.welcome_footer_link {
  background-color: #1aa37a;
  background-image: linear-gradient(45deg, #1aa37a, #9dffb3);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  display: block;
  width: fit-content;
  margin: 2rem auto;
  color: var(--color-neutral-800);
}
@media only screen and (max-width: 620px) {
  .welcome_header_title {
    font-size: 2rem;
  }
  .welcome_main_image {
    width: 300px;
  }
  .welcome_main_text {
    font-size: 0.9rem;
  }
  .welcome_footer_link {
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
    margin: 2rem auto;
  }
}

@media only screen and (max-width: 350px) {
  .welcome_header_title {
    font-size: 1.5rem;
    padding: 1.5rem 0;
  }
  .welcome_main_image {
    width: 100%;
  }
}
.welcome_footer_cta {
  width: 250px;
  text-align: center;
  font-size: 0.8rem;
  position: fixed;
  bottom: 2rem;
  right: 50%;
  transform: translateX(50%);
}
.welcome_footer_cta_link {
  color: #1aa37a;
  padding: 0 0.2rem;
}
